@import "variable";

.footer p {
  font-family: "Montserrat_bold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  text-align: center;
  padding-bottom: 24px;
}