@import "variable";

.masthead_container {
    display: flex;
    flex-direction: column;
    .masthead_subheading {
        font-family: "Lora";
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 46px;
        color: #FFFFFF;
        margin: 0;
    }
    .masthead_paragraph {
        font-family: "Montserrat_thin";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        max-width: 410px;
        padding-bottom: 25px;
    }
    .masthead_info {
        padding-bottom: 26px;
        font-family: "Montserrat_bold";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}