footer .footer_text {
  font-family: "Montserrat_bold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  padding-bottom: 24px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 240px;
  margin: auto;
  border-top: 1px solid #a9a9a9;
  padding-top: 10px;
  margin-top: 32px;
  @media (min-width: 720px) {
    border: none;
  }  
}

